@page
@model RAZOR_LibraryManagement.Web.Pages.Admins.AdminsListModel
@using RAZOR_LibraryManagement.Lang.Admins
@{
    ViewData["Title"] = "Admins list";
}

<h1 class="text-dark mb-3">@AdminList.Title</h1>

<div class="container">
    <partial name="_Notification" />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @AdminList.UserName
                </th>
                <th>
                    @AdminList.Email
                </th>
                <th>
                    @AdminList.Role
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in Model.vmAdminUserList)
            {
                <tr>
                    <td>@admin.UserName</td>
                    <td>@admin.Email</td>
                    <td>@admin.Role</td>
                </tr>
            }
        </tbody>
    </table>
</div>
