@page
@model RAZOR_LibraryManagement.Web.Pages.Admins.AdminsCreateModel
@using RAZOR_LibraryManagement.Lang.LoginCreate
@{
}

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="clo-12 col-lg-6">
            <div class="text-center">
                <h1 class="display-4">@LoginCreate.pCreate</h1> 
                <partial name="_Notification" />
            </div>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">@LoginCreate.UserName</label> 
                    <input type="text" class="form-control" asp-for="vmAdminUser.UserName" required />
                </div>
                 <div class="mb-3">
                    <label class="form-label">@LoginCreate.Email</label>  
                    <input type="email" class="form-control" asp-for="vmAdminUser.Email" required />
                </div>
                <div class="mb-5">
                    <label class="form-label">@LoginCreate.Password</label> 
                    <input type="text" class="form-control" asp-for="vmAdminUser.Password" required />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-info">@LoginCreate.btnCreate</button>  
                </div>
            </form>
        </div>
    </div>
</div>