@page
@model RAZOR_LibraryManagement.Web.Pages.Admins.ConfigurationsModel
@using RAZOR_LibraryManagement.Lang.AppSettings
@{
}

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="clo-12 col-lg-6">
            <div class="text-center">
                <h1 class="display-4">@AppSettings.Title</h1>
                <partial name="_Notification" />
                <p>@AppSettings.Info</p>
            </div>
            <form method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @AppSettings.Param
                            </th>
                            <th>
                                @AppSettings.Value
                            </th>
                            <th>
                                @AppSettings.Modify
                            </th>
                        </tr>
                    </thead>
                    <tbody>



                        <tr>
                            <td>
                                    @Model.DaysToWarn.SettingParam
                                </a>
                            </td>
                            <td>
                                @Model.DaysToWarn.Value
                            </td>
                            <td>
                                <input type="text" asp-for="@Model.DaysToWarn.Value">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Model.DaysToReturn.SettingParam
                            </td>
                            <td>
                                @Model.DaysToReturn.Value
                            </td>
                            <td>
                                <input type="text" asp-for="@Model.DaysToReturn.Value">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Model.MaxNumOfBooks.SettingParam
                            </td>
                            <td>
                                @Model.MaxNumOfBooks.Value
                            </td>
                            <td>
                                <input type="text" asp-for="@Model.MaxNumOfBooks.Value">
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div class="mb-3">
                    <button type="submit" class="btn btn-info">@AppSettings.Save</button>
                </div>
            </form>
        </div>
    </div>
</div>