@page
@model RAZOR_LibraryManagement.Web.Pages.BookUsers.ListModel
@{
    ViewData["Title"] = "Books and users list";
    string returnBook = "Return book from user";
}
<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="text-center">
            <h1 class="display-4">List of books with actual user</h1>
            <partial name="_Notification" />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            BookTitle
                        </th>
                        <th>
                            UserName
                        </th>
                        <th>
                            BorrowDate
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bu in Model.buList)
                    {
                        <tr>
                            <td>@bu.Title</td>
                            <td>@bu.UserName</td>
                            @if (DateTime.Now >= bu.BorrowDate.AddDays(Model.DaysToReturnOriginal))
                            {
                                <td class="bg-danger text-light" data-bs-toggle="tooltip" data-bs-title="Return date was @bu.BorrowDate.AddDays(Model.DaysToReturnOriginal).ToShortDateString()">@bu.BorrowDate.ToShortDateString()</td>
                            }
                            else if (DateTime.Now >= bu.BorrowDate.AddDays(Model.DaysToWarnOriginal))
                            {
                                <td class="bg-warning" data-bs-toggle="tooltip" data-bs-title="Return date is @bu.BorrowDate.AddDays(Model.DaysToReturnOriginal).ToShortDateString()">@bu.BorrowDate.ToShortDateString()</td>
                            }
                            else
                            {
                                <td>@bu.BorrowDate.ToShortDateString()</td>
                            }
                            <td>
                                <a href="/bookusers/edit/@bu.BookUserId"><i class="bi bi-book btn-outline-success" data-bs-toggle="tooltip" data-bs-title="@returnBook"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    </script>
}

