@page
@model RAZOR_LibraryManagement.Web.Pages.Users.ListModel
@using RAZOR_LibraryManagement.Lang.User
@{
    ViewData["Title"] = "Users list";
}

<h1 class="text-dark mb-3">@UsersList.Title</h1>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @UsersList.UserName
                </th>
                <th>
                    @UsersList.UserEmail
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.vmUserIndexList)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>