@page
@model RAZOR_LibraryManagement.Web.Pages.Users.ListModel
@using RAZOR_LibraryManagement.Lang.User
@{
    ViewData["Title"] = "Users list";
}

<h1 class="text-dark mb-3">@UsersList.Title</h1>
<div class="container">
    <partial name="_Notification" />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @UsersList.UserName
                </th>
                <th>
                    @UsersList.UserEmail
                </th>
                <th>
                    @UsersList.UserPhoneNumber
                </th>
                <th>
                    @UsersList.Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.vmUserIndexList)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        @if (user.IsActive)
                        {
                            <i class="bi bi-check-lg btn-outline-success mx-3"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-lg btn-outline-danger mx-3"></i>
                        }
                        <a href="/users/details/@user.UserId"><i class="bi bi-person-circle"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>